<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:robot-worlds.db</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Add your mapped classes here -->
        <mapping class="za.co.wethinkcode.server.entities.SavedWorld"/>
        <mapping class="za.co.wethinkcode.server.entities.ObstacleType"/>
        <mapping class="za.co.wethinkcode.server.entities.WorldProperty"/>

    </session-factory>
</hibernate-configuration>
